.cartIcon {
  /*  color: #151875;
  font-size: 22px;
  padding: 5px;
  margin: 0.25rem; */
  animation: horizontal-shaking 0.35s infinite;
}

@keyframes horizontal-shaking {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(2px);
  }
  50% {
    transform: translateX(-2px);
  }
  75% {
    transform: translateX(2px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes shake {
  0% {
    transform: translate(0);
  }
  20%,
  40%,
  60%,
  80% {
    transform: translate(0.8em);
  }
  10%,
  30%,
  50% {
    transform: translate(-0.2em);
  }
  70%,
  100% {
    transform: translate(0);
  }
}
